<% head_javascript "rails_admin/application.js" %>
      <div class="ra-block">
        <div class="ui-widget-header">
          Delete confirmation
        </div>
        <div class="ra-block-content">
<%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
          <p><%= t("admin.delete.are_you_sure_you_want_to_delete_the_object", :model_name => @abstract_model.pretty_name.downcase) %> &ldquo;<strong><%= @model_config.with(:object => @object).object_label %></strong>&rdquo; <%= t("admin.delete.all_of_the_following_related_items_will_be_deleted") %></p>
          <%= render :partial => "delete_notice", :object => @object %>
          <%= form_for(@object, :url => rails_admin_destroy_path(:model_name => @abstract_model.to_param, :id => @object.id), :html => {:method => "delete"}) do %>
            <ul class="submit clearfix">
              <li>
                <%= submit_tag t("admin.delete.confirmation"), :class => "ra-button ui-state-highlight" %>
              </li>
              <li>
                <%= submit_tag t("admin.new.cancel"), :class => "ra-button", :name => "_continue" %>
              </li>
            </ul>
          <% end =%>
        </div>
      </div>
